/* Delete  browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.navbar img {
    width: 120px;
    height: 35px;
    margin-left: -70px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #555; 
}


/* Hero section styles */
.hero {
    background-image: url("photos/logo.jpg");
    background-size: cover;
    color: #efe7e7;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 2em;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    
}

.cta-button:hover {
    background-color: #fff;
    
    color: #333;
}

/* Product Showcase */
.product-showcase {
    text-align: center;
    padding: 40px 0;
}

.product-card {
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-card img {
    max-width: 100%;
    width: 340px;
    height: 220px;
}

.product-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-card p {
    font-size: 1em;
    margin-bottom: 5px;

}

.price {
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
}

/* About Us and Contact  styles */
.about-us, .contact {
    text-align: center;
    padding: 40px 0;
    margin-bottom: 10px;

}

.about-us h2, .contact h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/*   dropdown menu Styles*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

/*dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Contact Form Styles */
.contact {
    text-align: center;
    padding: 40px 0;
}

.contact h2 {
    font-size: 2em;
}

form {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    height: 40px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;

}

button:hover {
    background-color: #555;
}

.team-content img {
    height: 100px;
    width: 220px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Team Styles */
.team {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.team-content {
    text-align: center;
    padding: 40px 0;
}

.team-content h2 {
    font-size: 2em;
}

.team-content p {
    font-size: 1.2em;
    margin: 20px 0;
}

.team-details {
    width: 70%;
    text-align: left;
    padding: 10px;
}

.team h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.team p {
    font-size: 1.2em;
    margin: 10px 0;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

/* History Styles */

.history h1 {
    margin: 42px 42px 40px 20px;
    font-size: 37px;
}

.history p  {
    margin: 22px 22px 20px 20px;
}
.history h2  {
    margin: 22px 22px 38px 20px;
}
.container {
    max-width: 960px;
    margin: 0 auto; 
}

/* Event Styles */
.event {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    display: flex; 
    align-items: center; 
}

.event img {
    max-width: 100px; 
    margin-right: 20px; 
}


.event h3 {
    font-size: 1.5em;
    margin: 10px 0;
}


.event p {
    font-size: 16px;
    margin: 10px 0;
    text-align: justify;
}
.all-events h2 {
text-align: center;
margin-top: 30px;
font-size: 37px;

}

.all-events h4 {
    text-align: center;
}

.event img {
    width: 280px; 
    height:110px;
    margin-left: 20px; 
    margin-top: 30px;
    border-radius: 5px;
}

/* Photo Gallery Styles */
.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.photo img {
    max-width: 100%; 
    margin: auto;
    border-radius: 3px;
    border-color: seashell;
}

.photo p {
    font-size: 19px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 0;
}
.gallery h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 37px;
    }
    
    .gallery p {
        text-align: center;
        margin-top: 15px;
        font-size: 22px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        }

/* News */
.news-card {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
}

.news-card img {
    max-width: 150px; 
    margin: 20px;
}

.news-details {
    padding: 20px;
}

.news-details h3 {
    font-size: 1.5em;
}

.news-details p {
    font-size: 1em;
    margin-bottom: 12px;
    text-align: justify;
    

}
.news-details span {
    font-size: 0.8em;
    margin-top:10px;
}

.news-details a {
    text-decoration: none;
    color: #0077cc;
}
.news h2 {
    margin: 20px;
    text-align: center;
    font-size: 37px;
}